body{
    margin:0;
    background:#07111f;
    color:white;
    font-family:Segoe UI,sans-serif;
}

#viewer{
    position:absolute;
    left:350px;
    top:0;
    width:calc(100% - 350px);
    height:100vh;
}

#sidebar{
    position:absolute;
    left:0;
    top:0;
    width:350px;
    height:100vh;
    padding:20px;
    background:#0f172a;
}

.loader{
    width:70px;
    height:70px;
    border-radius:50%;
    border:8px solid rgba(255,255,255,.15);
    border-top:8px solid white;
    animation:spin 1s linear infinite;
}

@keyframes spin{
    to{
        transform:rotate(360deg);
    }
}

#loading{
    position:fixed;
    inset:0;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    background:#020617;
}
